<br>
<div class="jumbotron">
   <h1>Teo-Boom</h1>
   <p>Welcome to the ever-evolving To-Do List!</p>
   <p>
           Sign-In or
           Sign-Up Today!
       
   </p>
</div>
 
<div class="row">
  <div class="col-md-4">
     <h2>Pending-To-Do 1</h2>
     <p>To-Do Name + Time Left</p>
  </div>
  <div class="col-md-4">
     <h2>Pending-To-Do 2</h2>
     <p>To-Do Name + Time Left</p>
  </div>
  <div class="col-md-4">
     <h2>Pending-To-Do 2</h2>
     <p>To-Do Name + Time Left(Maybe a 'delete' button?)</p>
  </div>
</div>